.page-wrap.delivery-banner-spacer
  padding-top: $mobile-padding + 70px

  @include show-on($screen-break)
    padding-top: $desktop-padding + 30px

.delivery-banner
  color: rgba(black, 0.9)
  position: fixed
  top: 0
  left: 0
  z-index: 3
  background: $brand-secondary
  text-align: center
  padding: 10px 30px
  text-align: center
  font-family: $font-serif
  border: none
  width: 100%
  box-sizing: border-box
  line-height: 1.7

  &-helper
    font-family: $font-sans

  button,
  a
    color: rgba(black, 0.9)
    background: lighten($brand-secondary, 10%)
    border: none
    font-family: $font-sans
    padding: 5px 10px
    display: inline-block
    border-radius: 4px
    transition: background-color 0.1s
    text-transform: uppercase
    font-size: $font-size-small
    font-weight: bold

    &:hover
      background: lighten($brand-secondary, 20%)


  @include show-on($screen-break)
    padding: 15px 60px

.delivery-button
  box-sizing: border-box
  display: inline-block
  margin-top: 10px
  background: none
  border: 1px solid rgba($brand-secondary, 0.7)
  border-radius: 4px
  min-width: 200px
  padding: 5px 15px
  color: $brand-secondary
  transition: all 0.1s

  .fa
    margin: 0 5px 10px 0 !important

  &:hover
    border-color: $brand-secondary
    color: lighten($brand-secondary, 10%)
